<h2>{{title}}</h2>

    <table>
        <tr>
            <th>Index</th>
            <th>Room Type</th>
            <th>Room Price</th>
            <th>Room Amenities</th>
            <th>Room Check-In Time</th>
            <th>Select Room</th>
        </tr>
        <tr 
        [ngClass]="e? 'even':'odd'"
        *ngFor="let room of rooms; let e=even;let o=odd ;let i=index">
            <td>{{i}}</td>
            <td>{{room.roomType}}</td>
            <td>{{room.price | currency:'INR'}}</td>
            <td>{{room.amenities}}</td>
            <td>{{room.checkinTime | date:'dd/MMM/yyyy'}}</td>
            <td>
                <button class="btn btn-primary"
                (click)="selectRoom(room)">
                    Select
                </button>
            </td>
        </tr>
    </table>